@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');


.offcanvas{
    font-family: 'Noto Sans', sans-serif;
}

.fuente{
    font-family: 'Noto Sans', sans-serif;
}

.colorFuente{
    color: #F8FCEB;
    font-family: 'Noto Sans', sans-serif;
}

.navbar{
    background-color: #333C4A;
}

.fixedMid {
    position: fixed;
    top: 50vh;
    right: 100vw;
    left: 0;
    bottom: 0;
    z-index: 1030;
    height: 8vh;
    width: 8vh;
}

.dropdown-menu-dark{
    --bs-dropdown-link-active-bg: #333C4A;
}

.offcanvas-body{
    margin-top: -0.6rem;
}

.banner{
    height: 40vh;
}

.botonCarousel{
    height: 1%;
    width: 1%;
}

.cajaCarousel{
    height: 100%;
    width: 90%;
}

.widthCarousel{
    width: 90%;
}

.card{
    font-family: 'Roboto Condensed', sans-serif;
}

.imgCard{
    height: 100%;
    width: 100%;
}

.botonRight{
    margin-left: -1.3rem;
  }