@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

.offcanvas{
    font-family: 'Noto Sans', sans-serif;
}

.fuente{
    font-family: 'Noto Sans', sans-serif;
}

.colorFuente{
    color: white;
    font-family: 'Noto Sans', sans-serif;
}

.colorFuente2{
    color: white;
    font-family: 'Noto Sans', sans-serif;
}

.colorFuente2:hover{
    color: #F6F7D3;
    font-size: 1.2rem;
}

.colorFuenteNav{
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

.colorFuenteNav:hover{
    color: #F6F7D3;
}

.navbar{
    background-color: #333C4A;
}

.fixedMid {
    position: fixed;
    top: 50vh;
    right: 100vw;
    left: 0;
    bottom: 0;
    z-index: 1030;
    height: 2.5rem;
    width: 2.5rem;
    padding: 0;
}

.fixedMid:hover{
    padding-left: 1rem;
}

.dropdown-menu-dark{
    --bs-dropdown-link-active-bg: #333C4A;
}

.offcanvas-body{
    margin-top: -0.6rem;
}

/* .banner{
    height: 40vh;
} */

.botonCarousel{
    height: 2rem;
    width: 2rem;
}

.cajaCarousel{
    height: 100%;
    width: 90%;
}

@media (min-width: 738px) {
    .card{
        width: 20%;
    }

    .widthCarousel{
        width: 90%;
    }

    .carouselChico{
        display: none;
    }

    .imgCard{
        height: 15vw;
    }

    .imagenCard{
        max-height: 15vw;
        width: auto;
    }
    
}

@media (max-width: 737px) {
    .card{
        width: 100%;
    }
    .widthCarousel{
        width: 70%;
    }

    .carouselGrande{
        display: none;
    }

    .imgCard{
        height: 50vw;
    }

    .imagenCard{
        max-height: 50vw;
        width: auto;
    }
}

.card{
    font-family: 'Roboto Condensed', sans-serif;
    min-height: 100%;
    max-width: 100%;
    border: 0;
}

.botonRight{
    margin-left: -0.8rem;
}

.cajaCaracteristicas{
    border-top: 1px solid #d4d4d4;
}

.footer{
    background-color: #333C4A;
}

@media (max-width:991px) {
    .flexNavBar{
        width: 100%;
        flex-direction: column-reverse;
        gap: 1rem;
        margin-top: 1rem;
        padding-top: 1rem;
        margin-bottom: 1rem;
        border-top: 1px solid #495664;
    }
}

@media (min-width:992px) {
    .flexNavBar{
        width: 50%;
    }
}

.card:hover{
    cursor: pointer; 
}

.dropdown-item:hover{
    cursor: pointer; 
}

.bgColor{
    background-color: #333C4A;
}
